handlers= java.util.logging.ConsoleHandler
.level= {{ jitsi_meet_videobridge_loglevel }}
java.util.logging.ConsoleHandler.level = {{ jitsi_meet_videobridge_loglevel }}
java.util.logging.ConsoleHandler.formatter = org.jitsi.utils.logging2.JitsiLogFormatter
