---

- name: Derive individual secrets from base secret
  set_fact:
    "{{ item }}": "{{ (item + jitsi_meet_base_secret | string) | hash('sha1') }}"
  loop:
    - jitsi_meet_videobridge_secret
    - jitsi_meet_videobridge_password
    - jitsi_meet_jicofo_secret
    - jitsi_meet_jicofo_password
    - jitsi_meet_turn_secret
  when: jitsi_meet_base_secret is defined

- name: Derive videobridge nickname
  set_fact:
    jitsi_meet_videobridge_muc_nickname: "{{ (jitsi_meet_base_secret | string + 'jvb_muc_nick') | to_uuid }}"
  when: jitsi_meet_base_secret is defined

- import_tasks: jitsi-meet.yml
- import_tasks: prosody.yml
- import_tasks: ui_customization.yml
- import_tasks: nginx.yml

- name: Generate logrotate configs
  template:
    src: logrotate.d/{{ item }}.j2
    dest: /etc/logrotate.d/{{ item }}
    owner: root
    group: root
    mode: 0644
  loop:
    - jicofo
    # - jitsi-videobridge https://github.com/systemli/ansible-role-jitsi-meet/issues/33
    - nginx
    - prosody
