---

- name: Ensure that nginx is installed.
  apt:
    name: nginx
    state: present
  when: jitsi_meet_nginx_base_config

- name: Adjust global nginx config.
  template:
    src: nginx/nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    owner: root
    group: root
    mode: "0644"
  notify: reload nginx
  when: jitsi_meet_nginx_base_config

- name: Add mimetype for wasm files.
  lineinfile:
    path: /etc/nginx/mime.types
    line: "    application/wasm                      wasm;"
    insertbefore: '^\}$'
  notify: reload nginx

- name: Copy Nginx config for Jitsi Meet domain.
  template:
    dest: "/etc/nginx/sites-available/{{ jitsi_meet_server_name }}.conf"
    src: nginx/sites-available/vhost.conf.j2
    owner: root
    group: root
    mode: "0644"
  notify: reload nginx

- name: Copy Nginx multiplexer config if local turnserver is used.
  template:
    dest: "/etc/nginx/modules-enabled/60-jitsi-meet.conf"
    src: nginx/modules-enabled/60-jitsi-meet.conf.j2
    owner: root
    group: root
    mode: 0644
  when: jitsi_meet_nginx_multiplexer
  notify: reload nginx

- name: Deactivate default Nginx site.
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent
  notify: reload nginx
  when: jitsi_meet_nginx_base_config

- name: Activate custom Jitsi Meet Nginx site.
  file:
    path: "/etc/nginx/sites-enabled/{{ jitsi_meet_server_name }}.conf"
    src: "/etc/nginx/sites-available/{{ jitsi_meet_server_name }}.conf"
    state: link
  notify: reload nginx

- name: Enable nginx
  service:
    name: nginx
    enabled: yes
