---
- name: Copy prosody config
  ansible.builtin.template:
    src: prosody/prosody.cfg.lua.j2
    dest: "/etc/prosody/prosody.cfg.lua"
    mode: 0640
    owner: root
    group: prosody
    validate: "luac -p %s"
  notify: Restart prosody

- name: Copy additional prosody config
  ansible.builtin.template:
    src: prosody/conf.avail/virtualhost.cfg.lua.j2
    dest: "/etc/prosody/conf.avail/{{ jitsi_meet_server_name }}.cfg.lua"
    mode: 0644
    owner: root
    group: root
    validate: "luac -p %s"
  notify: Restart prosody

- name: Link additional prosody config
  ansible.builtin.file:
    src: "/etc/prosody/conf.avail/{{ jitsi_meet_server_name }}.cfg.lua"
    dest: "/etc/prosody/conf.d/{{ jitsi_meet_server_name }}.cfg.lua"
    owner: root
    group: root
    state: link
  notify: Restart prosody

- name: Generate SSL keypair for Prosody service
  ansible.builtin.shell: |
    set -o pipefail
    yes '' | prosodyctl cert generate {{ item }}
  args:
    creates: /var/lib/prosody/{{ item }}.crt
    executable: /bin/bash
  register: prosody_cert_gen
  changed_when: prosody_cert_gen.rc is defined and prosody_cert_gen.rc == 141
  failed_when: prosody_cert_gen.rc != 141 and prosody_cert_gen.rc != 0
  loop:
    - "{{ jitsi_meet_server_name }}"
    - "auth.{{ jitsi_meet_server_name }}"
  notify:
    - Restart prosody
    - Update ca-certificates

- name: Link main SSL certificate to /etc/prosody/certs/
  ansible.builtin.file:
    src: "/var/lib/prosody/{{ jitsi_meet_server_name }}.{{ item }}"
    dest: "/etc/prosody/certs/{{ jitsi_meet_server_name }}.{{ item }}"
    state: link
  loop:
    - crt
    - key
  notify:
    - Restart prosody

- name: Link auth SSL certificate to /etc/prosody/certs/
  ansible.builtin.file:
    src: "/var/lib/prosody/auth.{{ jitsi_meet_server_name }}.{{ item }}"
    dest: "/etc/prosody/certs/auth.{{ jitsi_meet_server_name }}.{{ item }}"
    state: link
  loop:
    - crt
    - key
  notify:
    - Restart prosody

- name: Link auth certificate to trusted store
  ansible.builtin.file:
    src: "/var/lib/prosody/auth.{{ jitsi_meet_server_name }}.crt"
    dest: "/usr/local/share/ca-certificates/auth.{{ jitsi_meet_server_name }}.crt"
    state: link
  notify:
    - Update ca-certificates

- name: Flush handlers
  ansible.builtin.meta: flush_handlers

- name: Delete prosody videobridge account
  ansible.builtin.command: prosodyctl deluser jvb@auth.{{ jitsi_meet_server_name }}
  failed_when: false
  changed_when: false

- name: Register jvb agent with Prosody service.
  ansible.builtin.command: prosodyctl register jvb auth.{{ jitsi_meet_server_name }} {{ jitsi_meet_videobridge_secret }} # no-changed-when
  changed_when: false

- name: Enable prosody
  ansible.builtin.service:
    name: prosody
    enabled: yes
