---

- name: restart prosody
  service:
    name: prosody
    state: restarted

- name: reload nginx
  service:
    name: nginx
    state: reloaded

- name: restart jitsi-videobridge2
  service:
    name: jitsi-videobridge2
    state: restarted

- name: restart jicofo
  service:
    name: jicofo
    state: restarted

- name: update ca-certificates
  command: update-ca-certificates -f
