org.jitsi.jicofo.BRIDGE_MUC=JvbBrewery@internal.auth.{{ jitsi_meet_server_name }}
org.jitsi.jicofo.jibri.BREWERY=JibriBrewery@internal.auth.{{ jitsi_meet_server_name }}
org.jitsi.jicofo.jibri.PENDING_TIMEOUT=90