handlers= java.util.logging.ConsoleHandler
.level= {{ jitsi_meet_jicofo_loglevel }}
java.util.logging.ConsoleHandler.level = {{ jitsi_meet_jicofo_loglevel }}
java.util.logging.ConsoleHandler.formatter = org.jitsi.utils.logging2.JitsiLogFormatter
