org.jitsi.videobridge.AUTHORIZED_SOURCE_REGEXP={{ jitsi_meet_jicofo_user }}@auth.{{ jitsi_meet_server_name }}/.*
org.jitsi.impl.neomedia.transform.srtp.SRTPCryptoContext.checkReplay=false
# The videobridge uses 443 by default with 4443 as a fallback, but since we're already
# running nginx on 443 in this example doc, we specify 4443 manually to avoid a race condition
org.jitsi.videobridge.TCP_HARVESTER_PORT=4443
