org.jitsi.videobridge.AUTHORIZED_SOURCE_REGEXP={{ jitsi_meet_jicofo_user }}@auth.{{ jitsi_meet_server_name }}/.*
org.jitsi.impl.neomedia.transform.srtp.SRTPCryptoContext.checkReplay=false
# The videobridge uses 443 by default with 4443 as a fallback, but since we're already
# running nginx on 443 in this example doc, we specify 4443 manually to avoid a race condition
org.jitsi.videobridge.TCP_HARVESTER_PORT=4443
#org.ice4j.ice.harvest.DISABLE_AWS_HARVESTER=true
#org.ice4j.ice.harvest.STUN_MAPPING_HARVESTER_ADDRESSES=
#org.jitsi.videobridge.ENABLE_STATISTICS=true
#org.jitsi.videobridge.STATISTICS_TRANSPORT=muc
#org.jitsi.videobridge.xmpp.user.shard.HOSTNAME=localhost
#org.jitsi.videobridge.xmpp.user.shard.DOMAIN=auth.{{ jitsi_meet_server_name }}
#org.jitsi.videobridge.xmpp.user.shard.USERNAME=jvb
#org.jitsi.videobridge.xmpp.user.shard.PASSWORD=
#org.jitsi.videobridge.xmpp.user.shard.MUC_JIDS=
#org.jitsi.videobridge.xmpp.user.shard.MUC_NICKNAME=
