<title>{{ jitsi_meet_title }}</title>
<meta property="og:title" content="{{ jitsi_meet_title }}"/>
<meta property="og:image" content="{{ jitsi_meet_title_image }}"/>
<meta property="og:description" content="{{ jitsi_meet_description }}"/>
<meta description="{{ jitsi_meet_description }}"/>
<meta itemprop="name" content="{{ jitsi_meet_title }}"/>
<meta itemprop="description" content="{{ jitsi_meet_description }}"/>
<meta itemprop="image" content="{{ jitsi_meet_title_image }}"/>
<link rel="icon" type="image/png" href="{{ jitsi_meet_title_favicon }}"/>
